{{ $incidents := where .Site.RegularPages "Params.section" "issue" }}
{{ $active := where $incidents "Params.resolved" "=" false }}

{{ $isNotice := where $active "Params.severity" "=" "notice" }}
{{ $isDisrupted := where $active "Params.severity" "=" "disrupted" }}
{{ $isDown := where $active "Params.severity" "=" "down" }}

<div class="article">
  <h1 class="clean">
    {{ .Title }}
  </h1>

  <small class="date">
    {{ if .Site.Params.dateFormat }}
      {{ .Date.Format .Site.Params.dateFormat }}
    {{ else }}
      {{ .Date.Format "January 2, 2006 at 3:04 PM" }}
    {{ end }}
  </small>

  <p><small>
    {{ range .Params.Affected }}
      <a href="{{ printf "affected/%s/" (. | urlize) | relURL }}" class="tag no-underline">{{ . }}</a>
    {{ end }}
  </small></p>

  {{ if .Params.informational }}
  {{ else if .Params.Resolved }}
  {{ $t := (time .Params.ResolvedWhen) }}
  {{ $timeDiff := (sub $t.Unix .Date.Unix) }}
  {{ $diffInMin := (div $timeDiff 60) }}


  <!-- Marker -->
  {{ if lt $timeDiff 60 }}
  <div class="faded">
    <strong>
    {{ T "resolved" }} {{ T "inUnderAMinute" }}.
    </strong>
  </div>
  {{ else }}
    {{ if gt $timeDiff 3600 }}
      <div class="warning tooltip">
        <strong>
          {{ T "resolvedAfter" }}

          {{ $minutesForCalc := (mod $diffInMin 60) }}

          {{ div (sub $diffInMin $minutesForCalc) 60 }}h
          {{ $minutesForCalc }}m {{ T "ofDowntime" }}.
        </strong>

        <span class="tooltip__text">
          {{ if .Site.Params.dateFormat }}
            {{ dateFormat .Site.Params.dateFormat .Params.resolvedWhen }}
          {{ else }}
            {{ dateFormat "January 2, 2006 at 3:04 PM" .Params.resolvedWhen }}
          {{ end }}
        </span>
      </div>
    {{ else }}
      <div class="ok tooltip">
        <strong>
          {{ T "resolvedAfter" }}

          {{ $secsForCalc := (mod $timeDiff 60) }}

          {{ div (sub $timeDiff $secsForCalc) 60 }}m
          {{ T "ofDowntime" }}.
        </strong>

        <span class="tooltip__text">
          {{ if .Site.Params.dateFormat }}
            {{ dateFormat .Site.Params.dateFormat .Params.resolvedWhen }}
          {{ else }}
            {{ dateFormat "January 2, 2006 at 3:04 PM" .Params.resolvedWhen }}
          {{ end }}
        </span>
      </div>
    {{ end }}
  {{ end }}
  {{ else }}
    <strong class="error">
      {{ if eq .Params.severity "down" }}
      ■
      {{ else if eq .Params.severity "disrupted" }}
      ▲
      {{ else }}
      ◆
      {{ end }}
      {{ T "downtimeOngoing" }}</strong>
  {{ end }}

  <hr>
  {{ .Content }}
</div>
<div class="padding"></div>
