{{ $incidents := where .Site.RegularPages "Params.section" "issue" }}
{{ $active := where $incidents "Params.resolved" "=" false }}
{{ $activeIncidents := where $incidents "Params.informational" "=" false }}
{{ $pinned := where $incidents "Params.pin" "=" true }}

{{ if or ($activeIncidents) ($pinned) }}
  <div class="announcement-box" style="border-bottom: 0">
    {{ range $activeIncidents }}
      <div class="padding">
        <p>
          <a href="{{ .RelPermalink }}"><strong class="bold">{{ .Title }} →</strong></a>
        </p>

        <p><small>
          {{ range .Params.Affected }}

          <a href="{{ printf "affected/%s/" (. | urlize) | relURL }}" class="tag no-underline">{{ . }}</a>

          {{ end }}
        </small></p>

        {{ .Content | safeHTML | truncate 500 "…" }} <a href="{{ .RelPermalink }}"><b>→</b></a>
        <p></p>
      </div>
      <hr class="clean announcement-box">
    {{ end }}

    {{ range $pinned }}
      {{ if .Params.informational }}
      <div class="padding">
        <p>
          <a href="{{ .RelPermalink }}"><strong class="bold">{{ .Title }} →</strong></a>
        </p>

        <p><small>
          {{ range .Params.Affected }}

          <a href="{{ printf "affected/%s/" (. | urlize) | relURL }}" class="tag no-underline">{{ . }}</a>

          {{ end }}
        </small></p>

        {{ .Content | safeHTML | truncate 500 "…" }}
        <p></p>
      </div>
      <hr class="clean announcement-box">
      {{ end }}
    {{ end }}
  </div>
{{ end }}
